.codegen/
obj/
code/accesslist.txt
Properties
codegen-*
*.csproj
.intermediate
*bakeresourcecache*
tools_*_*.bin
release.zip
*.los
.vs
*.generated.*
.editorconfig
*.vmdl_c
*.vtex_c
*.vmat_c
*.vpcf_c
*.bin
*.sln
